.drap{

    color: cadetblue;
    font-family: sans-serif;

}

h2{

    color: brown;
    
}


.dopin{

    background-color: black;
    width: 400px;
    height: 400px;
    border: 40px solid red;}

.calux{

        background-color: cyan;
        width: 400px;
        height: 400px;
        border: 40px solid black;
        border-radius: 50%;
}